{
  "presets": ["es2015", ["es2015", { "loose": true }]],
  "plugins": ["transform-vue-jsx", "jsx-v-model"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["element-ui"],
          "alias": {
            "element-ui/src": "element-ui/lib"
          }
        }]
      ]
    }
  }
}
