@charset "UTF-8";
@import "./checkbox.css";
@import "./tag.css";
@import "./common/var.css";

  @component-namespace sc {
    @b drag {
      @b left-content {
        width: 75%;
        height: 100%;
        float: left;
        border: 1px solid #D3DCE6;
        border-right: none;
        box-sizing: border-box;
        overflow: hidden;
        .slot-content {
          width: calc(100% - 10px);
          height: 100%;
          float: left;
          border-right: 1px solid #D3DCE6;
          box-sizing: border-box;
        }
      }
      .line {
        width: 10px;
        height: 100%;
        float: left;
        position: relative;
        &:hover {
           cursor: w-resize;
        }
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          i {
            font-size: 12px;
            color: #1F2D3D;
            margin: 10px 0;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .line_default {
        &:hover {
          cursor: default;
        }
      }
      @b right-content {
        width: calc(25% - 10px);
        height: 100%;
        float: left;
        overflow: hidden;
        border: 1px solid #D3DCE6;
        box-sizing: border-box;
        .line {
          border-right: 1px solid #D3DCE6;
          box-sizing: border-box;
        }
        .content-body {
          height: 100%;
          width: 100%;
          float: left;
        }
      }
    }
  }